<p id="notice"><%= notice %></p>

<p>
  <strong>スレッドタイトル:</strong>
  <%= @topic.title %>
</p>



<% @posts.each do |post| %>
<table class="info">
  <tr>
      <div class="pop-box">
  <label for="popup-on"><label for="popup-on"><div class="btn-open"></div></label>
  <input type="checkbox" id="popup-on"><%= post.post_number %>
  <div class="popup">
    
    <div class="popup-content">
       <!-- ポップアップの中身 -->
       
     <p><%= post.content %></p>
     
        <!-- ./ポップアップの中身　ここまで -->
    </div>
    <label for="popup-on"><div class="btn-close">閉じる</div></label>
  </div>
</div>
    <td class="num"><%= post.post_number %>人目の投稿者:</td>
    <td class="contributor"><%= post.contributor %></td>
</table>
<table class="comment">
    <td class="content"><%= post.content %></td>
    <td calss="reply"><%= link_to '返信',  [@topic, post], method: :reply %></td>
    <td class="delete"><%= link_to '削除',  [@topic, post], method: :delete, data: { confirm: '本当に書き込みを削除しますか？' } %></td>
      
  </tr>
</table>
<% end %>


<%= form_for([@topic, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> つのエラーにより書き込みができませんでした:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :投稿者 %>
    <%= f.text_field :contributor %>
  </div>
  <div class="field">
    <%= f.label :書き込み内容%>
    
    <%= f.text_area :content %>
  </div>
  <div class="field">
  
  </div>
  <div class="actions">
    <%= f.submit "書き込む"%>
  </div>
<% end %>




<%= link_to 'スレッドの編集', edit_topic_path(@topic) %> |
<%= link_to 'スレッド一覧に戻る', topics_path %>
