<p id="notice"><%= notice %></p>

<p>
  <strong>スレッドタイトル:</strong>
  <%= @topic.title %>
</p>




<% @posts.each do |post| %>
<table class="info" id="info<%= post.post_number %>">
  <tr>
    <td class="num"id="num<%= post.post_number %>"><%= post.post_number %>人目の投稿者:</td>
    <td class="contributor"id="num<%= post.post_number %>"><%= post.contributor %></td>

</table>
<table class="comment"id="comment<%= post.post_number %>">
    <td class="content"id="content<%= post.post_number %>">
        <% if post.reply.present?%>
            
            <p> <%=link_to '@'+ post.reply.to_s,  reply_topic_post_path(@topic,post)%></p>   
          
            <%end%>
            
        <%= post.content %></td>
        
        
     <td class="reply"id="reply<%= post.post_number %>"> </td>
    <%= link_to '返信',  reply_topic_post_path(@topic,post)%>
    <td class="delete"><%= link_to '削除',  [@topic, post], method: :delete, data: { confirm: '本当に書き込みを削除しますか？' } %></td>
      
  </tr>
</table>
<p>
    <% if post.img? %>
       <%= image_tag post.img.url %>
    <% end %>
</p>   

<% end %>


<%= form_for([@topic, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> つのエラーにより書き込みができませんでした:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :投稿者 %>
    <%= f.text_field :contributor %>
  </div>
  <div class="field">
    <%= f.label :書き込み内容%>
    <%= f.text_area :content %>
  </div>
  <div class="field">
     <%= f.label :画像 %><br />
     <%= f.file_field :img, class: "image" %>
      <p><%= f.check_box :remove_img %>画像を削除する</p>
  </div>
  <div class="actions">
      
    <%= f.submit "書き込む"%>
  </div>
  
<% end %>






<%= link_to 'スレッドの編集', edit_topic_path(@topic) %><br>
<%= link_to 'スレッド一覧に戻る', topics_path %>



