<%= form_with(model: [@topic, @post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "") %> つのエラーにより書き込みができませんでした:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contributor %>
    <%= form.text_area :contributor %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
