<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Contributor</th>
      <th>Content</th>
      <th>Post number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.contributor %></td>
        <td><%= post.content %></td>
        <td><%= post.post_number %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to '削除', post, method: :delete, data: { confirm: '本当に書き込みを削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'スレッドへの書き込み', new_post_path %>
