<p id="notice"><%= notice %></p>




<p>
  <% post = Post.where(post_number: @post.reply) 
     @post = post[0]%>
     <% if @post.reply.present?%>
            <% @topic = Topic.find(params[:topic_id]) %>
            <p> <%=link_to '@'+ @post.reply.to_s,  reply_topic_post_path(@topic,@post)%></p>   
          
            <%end%>
  <strong>投稿者:</strong>
  <%= @post.contributor %>
</p>

<p>
  <strong>書き込み内容:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>書き込み番号:</strong>
  <%= @post.post_number %>
</p>

<p>
  <strong>画像:</strong>
<p>
    <% if @post.img? %>
       <%= image_tag @post.img.url %>
    <% end %>
</p>   




<%= link_to 'スレッドに戻る', topic_path(@topic)%>
